<div class="booyah-box">
  <h1>Enter Your Place Details</h2>
    <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-secondary' %>
    <% end %>
</div>